<?xml version="1.0"?>
<list>
<cam><name>Cam 1</name><loc_addr href="rtsp://admin:admin@192.168.0.16:554/live1"/><rem_addr href="rtsp://admin:admin@192.168.0.16:554/live1"/></cam><cam><name>Cam 3</name><loc_addr href="rtsp://admin:admin@9002a9acc3e3.dahuaddns.com:554/cam/realmonitor?channel=2&amp;subtype=0"/><rem_addr href="rtsp://admin:admin@9002a9acc3e3.dahuaddns.com:554/cam/realmonitor?channel=2&amp;subtype=0"/></cam><cam><name>cam4</name><loc_addr href="rtsp://admin:admin@192.168.0.16:554/live1"/><rem_addr href="rtsp://admin:admin@192.168.0.16:554/live1"/></cam></list>
