
#title{
  width: 80%;
}

#wrapper{
  height:100%;
  width:100%;
  
}
#content{
  float: left;
  width: 100%;
  border: dashed 0.2em #444;
/*   padding: 2%; */
   
}
#result{
  float: left;
  width: 100%;
  float: left;
  padding:1%;
} 

#form{
  width: 37%;
  float: left;
  padding:1%;
  border-bottom: dashed 0.2em #444; 
}

#preview{
  width: 59%;
  float: left;
  padding:1%;
  border-bottom: dashed 0.2em #444;
}

/*
 * Remove most spacing between table cells.
 */

table { 
  width: 98%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}